

<div class="jumbotron">
  <h3><%= render @post %></h3>
<div>
  <% if @post_user != current_user %>
    <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-warning"  %> |
    <%= link_to 'Delete this post',@post, confirm: 'Are you sure?', method: :delete %> |
  <% end %>

  <%= link_to "Back to posts", posts_path,  class:"btn btn-secondary"%>
</div>


   
   
  
